* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

nav {
  background-color: cornflowerblue;
  padding: 0;
  margin: 0;
  color: white;
  display: flex;
  padding: 1.5rem;
  justify-items: center;
  align-items: center;
}

#nav {
  display: flex;
  width: 100%;
  justify-content: right;
  text-decoration: none;
  list-style-type:none;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 5rem;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.5rem;
}

#flybooker {
  font-size: 2rem;
}

a:hover {
  color: lightgray;
}

#center {
  text-align: center;
}

button {
  background-color: darkorchid;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  padding: 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: purple;
  color: whitesmoke;
}

#admin {
  color: coral;
}

#admin:hover {
  color:red;
}

#flight {
  font-weight: 900;
}

#plane {
  width: 50%;
  height: auto;
  border-radius: 2rem;
}

.flight-list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flight {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.flight p {
  margin: 5px 0;
}

.flight-id {
  font-weight: bold;
}

.delete-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #cc0000;
}

#dest {
  width: 20rem;
  height: auto;
  border-radius: 1rem;
}
